
.game-card {
    background-color: #064789;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .game-card:hover {
    transform: scale(1.05);
  }

  .imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .game-details{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-title {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #EBF2FA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .game-price {
    font-size: 1rem;
    color: #EBF2FA;
  }
  
  .buy-button {
    background-color: #A5BE00;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buy-button:hover {
    background-color: #679436;
  }
