.header {
  background-color: #064789;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Garantir que logo e nav-list fiquem nas extremidades */
  align-items: center;
  text-align: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 100px; /* Ajuste para centralizar os itens */
}

.nav-item {
  color: #EBF2FA;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.nav-icons li {
  list-style: none; /* Remover as bolinhas */
}
