.search-bar {
    margin-top: 20px;
  }
  
.search-bar input {
    width: 120%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EBF2FA;
    color: black;
  }
  
  .search-bar input::placeholder {
    color: #888;
  }
  
  textarea:focus, input:focus{
    outline: none;
}